#pav{
    color: #323f4b;
    font-family: "roboto";
}
#pav2{
    color: #323f4b;
    font-family: "roboto";
}
#pav3{
    color: #323f4b;
    font-family: "roboto";
}
#pav4{
    color: #323f4b;
    font-family: "roboto";
}
#logo{
   height: 100px;
   width: 100px;
}
.text-color{
    color: white;
}
.background-image{
background-image: url("https://img.freepik.com/free-photo/top-view-fresh-delicious-chinese-food-dark-background_24972-2170.jpg?w=740&t=st=1709028267~exp=1709028867~hmac=163905a6d93a7f7258d716b17e365604144b104aa86f755b2190f1c0c2030082" );
height: 100vh;
width: 100wh;
background-size: cover;

}

.banner-heading{
color: white;
font-family: "roboto";
font-size:45px;
font-weight: 300;

}
.banner-para{
    color: #f5f7fa;
    font-family: "Roboto";
    font-size:45px;
    font-weight: 300;
}
.first-button{
    width: 100px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-radius: 8px;
    border-width: 0px;
    margin-right: 10px;
}

.second-button{
    width: 100px;
    height: 45px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    border-width: 1px;
    margin-right: 10px;
    border-style: solid;
    border-color: #d0b200;

}

.text-center{
    text-align: center;
}
.heading{
    margin-left: 112px;
}

.food-services{
font-family: "roboto";
font-weight: 300;
text-align: center;


}

.space{
    margin-top: 50px;
}
.shadow{
    box-shadow: 3px,3px;
    /* border: 2px solid black; */
}
.color{
    background-color: hsl(210, 8%, 95%);
}

.Explore-fresh-food-margin{
    margin-top: 80px

}



@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.transaction-logo{
    margin-right: 20px;
    margin-top: 20px;
}

.discount{
    margin-left: 300px;
    margin-top: 50px;
}

.gift-margin{
    margin-top: 50px;
}
.custom-button{
    
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.width{
    width: 100%;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}
.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    margin-top: 150px;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}
.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    margin-top: 150px;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}





